*{margin:0;padding:0;
    /* box-sizing: border-box; */
}
li{
	list-style:none;
}
a{
	text-decoration: none;
}
img{
	display: block;
	border:none;
}
h1,h2,h3,h4,h5,h6{
	font-weight:normal;
}
em,i{
	font-style:normal;
}
b,strong{
	font-weight: normal;
}
body{overflow:scroll;overflow-x:hidden;
    width: 100%;
}



.topwrap{
    width: 100%;
    height: 40px;
    background: #333;
}
.top{
    width: 1144px;
    height: 40px;
    /* background: rosybrown; */
    font-size: 12px;
    color: #b0b0b0;
    margin: 0 auto;
}
.top ul{
    float: left;
}
.top li,.top-right p{
    float: left;
    margin: 12px 0px;
    color:  #424242;;

}
.top li a,.top-right p a{
     /* padding: 0 px; */
     color: #b0b0b0;
     margin: 0 9.5px;
     width: 48px;
    

}
.top li:nth-child(0) a{
    padding-left: 0;
}
.top-right{
    width: 210px;
    height: 40px;
    float: right;
}
.shopcart{
    float: left;
    width: 115px;
    height: 40px;
    line-height: 40px;
    /* padding: 0 20px; */
    background:#424242;
    text-align: center;
    box-sizing: border-box;
}
.shopcart a{
    color: #b0b0b0;
}
/* top导航 end */


.navwrap{
    width: 100%;
    height: 50px;
    background: #f7f7f7;
}
.nav{
    width: 1140px;
    height: 50px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,.3);
    background: #f4f4f4;
    margin: 0 auto;
}
.logo{
    width: 131px;
    height: 50px;
    padding: 0 15px;
    float: left;
}
.logo img{
    width: 112px;
    height: 28px;
    vertical-align: middle;
    padding-top: 10px;
}
.nav ul{
    /* float: right; */
    margin-right: 185px;
}
.nav li{
    float: left;
    width: 72px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    box-sizing: border-box;
    
}
.nav li:nth-child(11) img{
    width: 21px;
    height: 20px;
    padding: 15px;
    
}
.nav li a{
    font-size: 14px;
    color: #767676;
}
/*    */
.main{
    width: 1498px;
    min-height: 100px;
    margin: 0 auto;
}

.carouselwrap{
    width: 100%;
    position: relative;
}
.carousel{
    height: 500px;
    /* background: #b0b0b0; */
    width: 1920px;
    
}
/* #box{
    
    
} */
.carousel img{
    width: auto;
    height: auto;
    margin: 0 -13%;
    
    
}

.listnav-wrap{
    width: 233px;
    height: 500px;
    /* border: 1px solid #000; */
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 7%;
    z-index: 2;
}
.list-nav{
    width: 233px;
    height: 500px;
    background: rgba(0,0,0,.6);
    padding: 25px 0;
    box-sizing: border-box;
    font-family:  Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;
    font-size: 14px;
    /* position: absolute; */
    /* z-index: 2; */
  
}
.list-nav a{
    display: block;
    width: 203.9px;
    height: 45px;
    padding-left: 30px;
    position: relative;
    margin: 5px 0;
    line-height: 45px;
    color: #fff;
}
/* .list-nav a:hover{
    background-color: red;
} */
.list-nav i{
    width: 16px;
    height: 15px;
    position: absolute;
    /* top: 5px; */
    right: 20px;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
}

/* 轮播图 end */


.star{
    width: 1349px;
    height: 600px;
    padding: 20px 0 50px 0;
}
.container{
    width: 1140px;
    height: 600px;
    margin: 0 auto;
    /* border: 1px solid #000; */
}
.row{
    width: 1140px;
    height: 180px;
   
}
.lazy{
    width: 270px;
    height: 180px;
    float: left;
    margin-right: 20px;
    
    
}
.lazy img{
    width: 270px;
    height: 180px;
}
.lazy1 li{
    /* border: 1px solid #000; */
    background-color: #f68387;
    float: left;
}

.lazy1 li:nth-child(2n){
    background-color: #f2555b;
}
.lazy1 li:hover{
    background: #ee3239;
    transition: 1s;
}
.lazy1 a{
    display: block;
    width: 90px;
    height: 70px;
    padding-top: 20px;
    text-align: center;
    font: 14px  Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;
    color: #fff;

}
.lazy1 img{
    width: 27px;
    height: 27px;
    margin-left:30px ;
}
.lazy4{
    margin-right: 0;
}

.home-star{
    width: 1140px;
    height: 390px;
    margin-top: 30px;
}
.home-star .star-top{
    width: 1140px;
    height: 50px;
    line-height: 50px;
}

.home-star .star-top img{
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
}
.home-star .star-top h3{
    float: left;
}
.home-star .star-top .more{
    width: 60px;
    height: 25px;
    float: right;
    margin-top: 12px;
}
.star-top .more span{
    display: block;
    width: 25px;
    height: 25px;
    border: 1px solid #bcbcbc;
    float: left;
    position: relative;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
}
.star-top .more span:hover{
    border: 1px solid red;
}
.star-top .arr-left{
    margin-right: 5px;
}
.star-top .more i{
   color: #bcbcbc;
   font-weight: bolder;
   font-size: 14px;
}


.star-rolling{
    width: 1140px;
    height: 340px;
    box-sizing: border-box;
    overflow: hidden;
    /* border: 1px solid #000; */
    position: relative;
}
.star-row{
    width: 10000px;
    height: 340px;
    position: absolute;
    /* left: -1160px; */
    transform: all 5s;
    
}
.star-list li{
    float: left;
}

.star-list img{
    width: 190px;
    height: 190px;
    text-align: center;
    vertical-align: middle;
    border: 0;
    margin: 0 auto;
    
}
.staritem-box{
    width: 250px;
    height: 305px;
    padding: 25px 10px 10px ;
    margin-right: 20px;
    background: #f7f7f7;
    text-align: center;
}

.star-top h3 a{
    color: #767676;
    font-size: 22px;
    line-height: 50px;
}

/*  */

.wrap{
    width: 1349px;
    height: 7440px;
    background:#f7f7f7 ;
    padding-top: 30px;
}
.wrap .television{
    width: 1140px;
    height: 1170px;
    margin: 0 auto;
    /* border: 1px solid #000; */
    
}
.tv-top{
    width: 1140px;
    height: 50px;
    box-sizing: border-box;
    margin: 20px 0 10px;
    position: relative;
}
.tv-top h3,.tv-top ul{
    position: absolute;
    line-height: 50px;
}
.tv-top ul li{
    float: left;
    font-size: 14px;
    margin-right: 4px;
}
.tv-top h3 img{
    display: inline-block;
    vertical-align: middle;
}
.tv-top ul{
    width: 235px;
    height: 20px;
    padding-left: 40px;
    left:865px ;
}
.tv-row li{
    width: 250px;
    height: 305px;
    background: #fff;
}
.tv-row li{
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    padding: 25px 10px 10px;
    
}
.tv-row ul{
    width: 1160px;
    height: 720px;
    margin-left: -20px;
}
.tv-row li img{
    width: 190px;
    height: 190px;
    margin: 0 auto;
}
/* .tv-row li:hover{
    transform: translateZ(2%);
    transition: 1s;
    
} */